$body-bg-gray:              #ECECEC;
$blue-darken:               #172B36;
$blue:                      #0E76A5;
$blue-sky:                  #149DD9;
$gray-darken:               #333132;
$emerald:                   #53C676;
