$dark:                                        $gray-darken;
$info:                                        $blue-sky;
$secondary:                                   $blue-darken;

$body-bg:                                     $body-bg-gray;
$font-family-sans-serif:                      'Montserrat', sans-serif;

$navbar-brand-padding-y:                      0.625rem;

$enable-shadows:                              true;

$table-color:                                 #7E97A3;
$table-bg:                                    #EBECF0;
$table-accent-bg:                             #DEDFE3;

$input-border-color:                          #E0E0E0;
